.home-page-wrapper{
    background-color: #fff;
    background-image: linear-gradient(rgba(255, 255, 255, .95), rgba(255, 255, 255, .90)), url("../assets/images/L-home-banner.jpg");
    /* background-image: url("../assets/images/home-banner.jpg"); */
    background-position: 0 0, 50% 50%; /* Adjusted for better positioning */
    background-repeat: repeat, no-repeat;
    background-size: auto, cover;
    min-height: 45vh;
    padding-top: 80px;
    padding-bottom: 60px;
}
.home-page-banner-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  

}
.header-banner-txt {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
  
}
.header-banner-txt .head{
    color: var(--secondary-dark);
    text-align: center;
    max-width: 80%;
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.2em;
}
.header-banner-txt p{

    color: var(--paragraph-gray);
    text-align: left;
    letter-spacing: -.05em;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Inter, sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.5em;}
    .homepage-banner-button-wrap {
  display: flex;
  gap: 1.5rem;
}

.homepage-banner-button-wrap .button-primary,
.homepage-banner-button-wrap .button-secondary {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 10px 44px; */
  padding: 0.625rem 2.75rem;
  border-radius: 25px;
  text-decoration: none;
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: -.05em;
  overflow: hidden;
  transition: color 0.3s ease;
  z-index: 1;
}

/* Default styles */
.homepage-banner-button-wrap .button-primary {
  border: 2px solid var(--primary);
  background-color: var(--primary);
  color:white;
}

.homepage-banner-button-wrap .button-secondary {
  border: 2px solid var(--secondary-dark);
  background-color: transparent;
  color: var(--secondary-dark);
}

/* Sliding background effect */
.homepage-banner-button-wrap .button-primary::before,
.homepage-banner-button-wrap .button-secondary::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  transition: left 0.3s ease;
  z-index: -1;
}

/* Colors for background animation */
.homepage-banner-button-wrap .button-primary::before {
  background-color: #f39c12;
}

.homepage-banner-button-wrap .button-secondary::before {
  background-color: var(--secondary-dark);
}

/* Hover styles */
.homepage-banner-button-wrap .button-primary:hover,
.homepage-banner-button-wrap .button-secondary:hover {
  color: #fff;
}

.homepage-banner-button-wrap .button-primary:hover::before,
.homepage-banner-button-wrap .button-secondary:hover::before {
  left: 0;
}


/* scroll container , animation styles */
.scroll-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2.3rem;
}
.scroll-container {
    width: 80%;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
  }
  
  .scroll-list {
    display: flex;
    gap: 3.5rem;
    animation: scroll 20s linear infinite;
  }
  
  .scroll-list li {
    list-style: none;
    text-align: center;
    margin: 0 20px;
    display: inline-block;
  }
  
  .scroll-list li span {
    font-size: 2rem;
    font-weight: bold;
  }
  
  .scroll-list li p {
    margin: 5px 0;
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  

/* ended here */


@media (max-width:600px) {
    .header-banner-txt .head {
     
        max-width: 90%;
        font-size: 2.3rem;
        font-weight: 700;
        line-height: 1.15em;
      }
      .header-banner-txt p{
        font-size: 1rem;
        /* padding:.2em 1rem; */
        width: 90%;
      }
      .homepage-banner-button-wrap .button-primary ,.homepage-banner-button-wrap .button-secondary {
        padding: 0.625rem;

    }
    .scroll-list {
     
      gap: 1.8rem;
      animation: scroll 10s linear infinite;
    }
}